.navdd {

    position: relative;
    display: inline-block;
}
.ddtrigger {
    color: white;
    background-color: #919191;
    font-family: 'Times New Roman', Times, serif;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.ddlinks {
    display: none;
    position: absolute;
    background-color: #b8b8b8;
    min-width: 160px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.ddlinks a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
.navdd > a:hover {background-color: #ddd;}
.navdd:hover .ddlinks {display: block;}
.navdd:hover .dropbtn {background-color: #3e8e41;}